*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 2rem;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-bottom: 2rem;
  

}
.color{
color: rgb(60, 153, 241);
}

.btn{
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;
  font-size: 18px;
  padding: 12px 24px;
  background-color: #ffffff;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 700;
 
 
    transition: all .3s ease;

}

.btn:hover{
  background-color: black;
  color: white;
}